
<section>
  <!-- <img src="/assets/images/bg.jpg"> -->

<marquee>
   &copy; ****Linoy & Matan**** local date: {{currentDate | date: 'dd.MM.yyyy'}} hour: {{currentDate | date:'hh:mm' }}
</marquee>

<header>
<app-header-root> </app-header-root> 
</header>
  
  <aside>
    <app-aside-root></app-aside-root>
  </aside>
  
  <main>
<router-outlet></router-outlet>
  </main>
  
  <footer>
    about us:  
    <a href="https://github.com/linoyco" target="_blank">Linoy Cohen,  </a>
    <a href="https://github.com/Matanofri5" target="_blank">Matan Ofri</a>

  </footer>
  
  </section>