<section>
  <p>
    *** Welcome admin! ***
  </p>
  <h2>Choose an option</h2>

  <div class="grid-container">
    <h1>Company options:</h1>
    <option routerLink="create-company" routerLinkActive="active-link">Add new company</option>
    <option routerLink="update-company" routerLinkActive="active-link">Update company</option>
    <option routerLink="remove-company" routerLinkActive="active-link">Delete company</option>
    <option routerLink="get-company" routerLinkActive="active-link">View one company by id</option>
    <option routerLink="get-all-companies" routerLinkActive="active-link">View all companies</option>

    <h1>Customer options:</h1>
    <option routerLink="create-customer" routerLinkActive="active-link">Add new customer</option>
    <option routerLink="update-customer" routerLinkActive="active-link">Update customer</option>
    <option routerLink="remove-customer" routerLinkActive="active-link">Delete customer</option>
    <option routerLink="get-customer" routerLinkActive="active-link">View one customer by id</option>
    <option routerLink="get-all-customers" routerLinkActive="active-link">View all customers</option>

    <h1>Income $ options:</h1>
    <option routerLink="get-all-income" routerLinkActive="active-link">$ View all income $</option>
    <option routerLink="get-income-by-company-id" routerLinkActive="active-link">View income by company id</option>
    <option routerLink="get-income-by-customer-id" routerLinkActive="active-link">View income by customer id</option>

  </div>

</section>