<section>


  <p>
    ***admin page***!
  </p>
  <h2>Choose an option:</h2>

  <select>
    <option value="createCompany">Add new company</option>
    <option value="deleteCompany">Delete company</option>
    <option value="updateCompany">Update company</option>
    <option value="getAllCompanies">View all companies</option>
    <option value="companyById">View one company by id</option>
    <option value="createCustomer">Add new customer</option>
    <option value="deleteCustomer">Delete customer</option>
    <option value="updateCustomer">Update customer</option>
    <option value="getAllCustomers">View all customers</option>
    <option value="customerById">View one customer by id</option>
    <option value="allIncome"></option>
    <option value="viewAllIncome"></option>
    <option value="viewIncomeByCompanyId"></option>
    <option value="viewIncomeByCustomerId"></option>
  </select>

  <button type="submit">Select</button>

</section>