<button class="logout" (click)="logout()"> Logout </button>
<a class="backTo" routerLink='/admin'> Back to Admin menu</a>
<div>
  <h2>View ALL customers</h2>
  <div>
    <button class="buttons" (click)="getAllCustomers()">Show me all customers!</button>
  </div>
  <br>
  <div class="getInfoAll">
    <ul *ngFor="let c of this.itemService.customers">
      <br>
      <br>
      Customer ID: <span>{{c.id}}</span>
      <br>
      Customer Name: <span>{{c.companyName}}</span>
      <br>
      Customer Password: <span>{{c.password}}</span>
      <br>
    </ul>
  </div>
  <br>
</div>