<section>

<div id="loginForm">
    <form action="login" method="post">
        <br>
      <p id="pp">Please enter a username and password:</p>
      <label for id="name">Name: </label>
      <input type="text" id="name" name="name" placeholder="Enter Your Name...">
    <br>
       <label for id="password">Password: </label>
      <input type="password" id="password" name="password" placeholder="Enter Your password...">
    <br>
      <label for id="type1">choose your Client Type: </label>
      <select id="type" name="type">
          <option value="ADMIN">Admin</option>
      <option value="COMPANY">Company</option>
      <option value="CUSTOMER">Customer</option>
      </select>
    
      <h3><button type="submit" class="button">LOGIN 	<i class="fa fa-user-circle-o" style="font-size:30px;"></i></button>
      <button type="reset" class="button"	>RESET	<i class="fa fa-eraser" style="font-size:30px;"></i></button></h3>
    
    </form>
    <img src="/assets/images/coupon.jpg">
  </div>

</section>
