<button class="logout" (click)="logout()"> Logout </button>

<section>

  <p>
      *** Welcome company! ***
    </p>

  <h2>Choose an option:</h2>

<div class="grid-container">
<option routerLink="create-coupon" routerLinkActive="active-link">Add new coupon</option>
<option routerLink="update-coupon" routerLinkActive="active-link">Update coupon</option>
<option routerLink="delete-coupon" routerLinkActive="active-link">Delete coupon</option>
<option routerLink="get-company-by-id" routerLinkActive="active-link">View one company by id</option>
<option routerLink="get-all-company-coupons" routerLinkActive="active-link">View all company-coupons</option>
<option routerLink="get-coupon-by-type" routerLinkActive="active-link">View coupons by type</option>
<option routerLink="get-coupon-by-price" routerLinkActive="active-link">View coupons by price</option>
<option routerLink="get-coupon-by-end-date" routerLinkActive="active-link">View coupons by end-date</option>
<option routerLink="view-income-by-company-id" routerLinkActive="active-link">View $income$ by company id</option>
</div>

</section>