<section>

  <p>
    ***company page***!
  </p>

  <h2>Choose an option:</h2>

  <select>
    <option value="createCoupon">Add new coupon</option>
    <option value="updateCoupon">Update coupon</option>
    <option value="deleteCoupon">Delete coupon</option>
    <option value="companyById">View one company by id</option>
    <option value="getAllCompanyCoupons">View all company-coupons</option>
    <option value="getCouponsByCouponType">View coupons by type</option>
    <option value="getCouponsByPrice">View coupons by price</option>
    <option value="getCouponsByEndDate">View coupons by end-date</option>
    <option value="viewIncomeByCompanyId"></option>
  </select>

  <button type="submit">Select</button>

</section>