html, body {
height: 100%;
margin: 0;
padding: 0;
background-image: url("/assets/images/backg1.jpg");
background-repeat: no-repeat;
background-size:cover;
}

.logout{
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 5px;
    color: aliceblue;
    background-color: red;
}