html, body {
height: 100%;
margin: 0;
padding: 0;
background-image: url("/assets/images/backg1.jpg");
background-repeat: no-repeat;
background-size:cover;
}

.logout{
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 5px;
    color: aliceblue;
    background-color: red;
}

.backTo{
    background-color: rgb(253, 255, 132);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

.getInfoAll{
    overflow: scroll;
    width: 500px;
    height: 330px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    font-family:  Arial, Helvetica, sans-serif ;
    font-weight: bold;
}

.getInfoOne{
    width: 350px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    font-family:  Arial, Helvetica, sans-serif ;
    font-weight: bold;
    padding: 20px;
}

.inputs{
    font-family:  Arial, Helvetica, sans-serif ;
    font-weight: bold;  
}

.grid-container{
    margin: auto;
}