<section>

  <p>
      *** Welcome customer! ***
  </p>

  <h2>Choose an option:</h2>


<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>
<option routerLink="" routerLinkActive="active-link"></option>

  <!-- <select>
    <option value="purchaseCoupon">Purchase coupon</option>
    <option value="getAllCustomerCoupons">View all customer-coupons</option>
    <option value="getCouponsByCouponType">View coupons by type</option>
    <option value="getCouponsByPrice">View coupons by price</option>
  </select>

  <button type="submit">Select</button> -->


</section>