<button class="logout" (click)="logout()"> Logout </button>

<section>

  <p>
      *** Welcome customer! ***
  </p>

  <h2>Choose an option:</h2>

<div class="grid-container">
<option routerLink="purchase-coupon" routerLinkActive="active-link">Purchase coupon</option>
<option routerLink="get-all-customer-coupons" routerLinkActive="active-link">View all my Purchased coupons</option>
<option routerLink="get-coupons-by-price" routerLinkActive="active-link">View coupons by price</option>
<option routerLink="get-coupons-by-type" routerLinkActive="active-link">View coupons by type</option>
</div>

</section>