div{
  overflow: scroll;
  width: 500px;
  height: 275px;
  border: 3px solid rgb(0, 0, 0);
  margin-left: 250px;
  padding: 20px;
}

option{
  font-weight: bold;
  font-family:  Arial, Helvetica, sans-serif ;
}

option:hover {
  background-color: rgb(184, 184, 184);
}

.grid-container{
  display: grid;
  grid-row-gap: 15px;
}